
.show {
    display: block !important;
}

.hidden {
    display: none !important;
}

/* The Modal (background) */
.popup {
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.popup-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.card {
    width: 420px;
}

.modal-footer {
    background-color: #f9f9f9;
}

.modal-left {
    display: unset;
    text-align: left;
}

a {
    color: #1D68CD;
}

.back-to-top {
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
    border-radius: 25px;
}

.disabled-div {
    opacity: .5;
}

.settings-header {
    background: #e7e7e7;
}

section {
    margin: 15px 15px;
}

.section-title {
    text-align: center;

}

.section-title-wrapper {
    padding: 15px 0 15px 0;
    background: #C0C0C0;
}

* {
    font-family: Roboto, sans-serif;
}

.card-by-side{
    display:inline-block;
}